<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Matéria</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <a href="/" class="btn-voltar">Voltar</a>
</head>
<link href="https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap" rel="stylesheet">
<body>
    <div class="container">
        <h1>Cadastrar Matéria</h1>
        <form method="POST" action="/cadastrar_materia">
            <label for="nome">Nome da Matéria:</label>
            <input type="text" id="nome" name="nome" required><br>

            <input type="submit" value="Cadastrar Matéria">
        </form>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert {{ messages[0][0] }} fade-in">
                {{ messages[0][1] }}
            </div>
        {% endif %}
        {% endwith %}

    <script>
        // Exibir a mensagem de sucesso ou erro por 5 segundos
        window.onload = function() {
            setTimeout(function() {
                let alertBox = document.querySelector('.alert');
                if (alertBox) {
                    alertBox.classList.add('fade-out'); // Adiciona a animação de fade-out
                }
            }, 5000); // Desaparece após 5 segundos
        };
    </script>

</body>
</html>
