<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selecione o Aluno</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <a href="/" class="btn-voltar">Voltar</a>

</head>
<body>
    <h1>Selecione o Aluno para Gerar o Boletim</h1>
    <form method="POST">
        <label for="matricula">Escolha o Aluno:</label>
        <select name="matricula" id="matricula">
            {% for aluno in alunos %}
            <option value="{{ aluno.matricula }}">{{ aluno.nome }} - {{ aluno.matricula }}</option>
            {% endfor %}
        </select>
        <button type="submit">Gerar Boletim</button>
    </form>
</body>
</html>
